/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');


/* Start of Modern Normalize CSS */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;

}

hr {
    height: 0;
    color: inherit;
}

abbr[title] {
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
    box-shadow: none;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

/* End of Modern Normalize CSS */


:root {
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --white-color: #ffffff;
    --cornflower-color: #E7E9FC;
    --iris-color: #4d5ae5;
    --ocean-color: #404BBF;
    --cloud-color: #f4f4fd;
    --slate-color: #434455;
    --heading-one: 56px;
    --heading-two: 36px;
    --heading-three: 20px;
    --paragraph-text-size: 16px;
    --font-family-roboto: 'roboto', san-serif;
    --font-family-raleway: 'raleway', san-serif;
}

body {
    font-family: var(--font-family-roboto);
    color: var(--slate-color);
    line-height: 1.5em;
    margin: 0;
}

button {
    cursor: pointer;
}

.list-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    margin: auto;
}

.section {
    padding: 120px 0;
}

/* Heading CSS */
header {
    padding: 24px 0;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border: 1px solid var(--cornflower-color);

}

.heading-web_word {
    font-family: var(--font-family-raleway);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03px;
    color: var(--iris-color);
    display: inline-flex;
}

.heading-studio_word {
    font-family: var(--font-family-raleway);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03px;
    color: var(--navy-blue-color);
    display: inline-flex;
}

/* Navigation Menu List */
.heading-navigation {
    display: inline-flex;
}

.contact-links {
    display: inline-flex;
    padding-left: 250px;
}

.navigation-menu {
    display: inline-flex;
    padding-left: 76px;
}

.navigation-menu_item {
    padding-right: 40px;
}

.navigation-menu_link {
    color: var(--navy-blue-color);
    font-size: 16px;
    font-weight: 500;

}

.contact-links_link {
    color: var(--slate-color);
    font-size: 16px;
    padding-left: 40px;
}

.navigation-menu_link:hover,
.contact-links_link:hover {
    color: var(--iris-color);
}

.navigation-menu_link:focus,
.contact-links_link:focus {
    color: var(--ocean-color);
}

.link-active {
    color: var(--iris-color);
}

/* Main Content Styling*/

/* Studio Hero Section Styling */
.hero {
    background-color: var(--navy-blue-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-size: var(--heading-one);
    font-weight: 700;
    line-height: 1.2;
    color: var(--white-color);
    letter-spacing: 1.12px;
    text-align: center;
    margin-bottom: 48px;
}

.hero-button {
    font-size: var(--paragraph-text-size);
    font-family: var(--font-family-roboto);
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--iris-color);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    align-items: center;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border: none;
}

.hero-button:hover {
    background-color: var(--ocean-color);
}

.hero .hero-button {
    display: flex;
    margin: auto;
}

/* Studio Section 2 Styling */
.benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.benefits_item {
    padding-right: 24px;
}

.benefits-title {
    font-size: var(--heading-three);
    color: var(--navy-blue-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
    margin: 0;
}

.benefits-description {
    font-size: var(--paragraph-text-size);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.benefits-section {
    padding-bottom: 0;
}

/* Studio Section 3 Styling */
.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-title {
    color: var(--navy-blue-color);
    font-size: var(--heading-two);
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: 0.72px;
    text-align: center;
    margin: 0;
    padding-bottom: 72px;

}

/* Studio Section 4 Styling */
.our-team_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-team-list_item {
    flex-direction: column;
    background-color: var(--white-color);
    padding-bottom: 32px;
    width: 264px;
    margin: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team_title {
    font-size: var(--heading-three);
    color: var(--navy-blue-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0;
}

.our-team_description {
    font-size: var(--paragraph-text-size);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
}

.our-team-section {
    background-color: var(--cloud-color);
}


/* Portfolio Page Styling */
.tab-menu-section {
    padding-top: 96px;
}

.tab-button {
    color: var(--iris-color);
    background-color: var(--cloud-color);
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower-color);
    padding: 12px 24px;
    font-family: var(--font-family-roboto);
    font-size: var(--paragraph-text-size);
    line-height: 1.5;
}

.active-tab {
    color: var(--white-color);
    background-color: var(--ocean-color);
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--ocean-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    padding: 12px 24px;
}

.tab-button:hover {
    background-color: var(--ocean-color);
    color: var(--white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid var(--ocean-color);
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.filter-list_item {
    padding-right: 24px;
}

.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project_item {
    width: 360px;
    margin-top: 48px;
    border: 1px solid var(--cornflower-color);
}

.project-title {
    color: var(--navy-blue-color);
    font-size: var(--heading-three);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
    margin: 32px 0px 16px 16px;

}

.project-description {
    font-size: var(--paragraph-text-size);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin: 8px 32px 16px 16px;
}






/* Footer Styling */
.footer {
    background-color: var(--navy-blue-color);
    padding: 100px 0;
}

.footer-text {
    color: var(--white-color);
    font-size: var(--paragraph-text-size);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer-web_word {
    font-family: var(--font-family-raleway);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03px;
    color: var(--iris-color);
    display: inline-flex;
}

.footer-studio_word {
    font-family: var(--font-family-raleway);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03px;
    color: var(--cloud-color);
    display: inline-flex;
}